{% load static %}

<!DOCTYPE html>
<html>
	<head>
        <title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<h1 class="text-center">DJANGO POLLS APP</h1>
			<h5 class="text-center"><a href="{% url 'registration:logout' %}">Log out</a></h5>
			<hr>
		</header>
		<main>
			<div class='col-lg-4 col-lg-offset-4'>
				{% block content %}
				{% endblock %}
			</div>
		</main>
	</body>
</html>
