{% extends "registration/base.html" %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">{{ question.question_text }}</h3></div>
        <div class="panel-body">
            <div class="index">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <button type="submit" class="btn btn-info">Vote</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}