{% extends "registration/base.html" %}

{% block title %}Questions{% endblock %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <!-- <div class="welcome">
        WELCOME {{ user.username }}
    </div> -->
    <div class="panel panel-default">
        {% if request.user.is_authenticated %}
            <div class="panel-heading"><h3 class="text-center">POLLS</h3></div>
            <div class="panel-body">
                {% if latest_question_list %}
                    <div class="list-group">
                        {% for question in latest_question_list %}
                            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-warning">{{ question.question_text }}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        {% else %}
            <div class="panel-heading"><h3 class="text-center"><h2 class="text-center">You Are Not Logged In</h2></h3></div>
            <div class="panel-body">
                <h4 class="text-center"><a href="{% url 'registration:login' %}">LOG IN HERE</a></h4>
            </div>
        {% endif %}
    </div>
{% endblock %}