{% extends "registration/base.html" %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">{{ question.question_text }}</h3></div>
        <div class="panel-body">
            <div class="index">
                <div class="list-group">
                    {% for choice in question.choice_set.all %}
                        <li class="list-group-item list-group-item-warning">{{ choice.choice_text }} <span class="badge">{{ choice.votes }} vote{{ choice.votes|pluralize }}</span></li>
                    {% endfor %}
                </div>
                <a href="{% url 'polls:detail' question.id %}" class="btn btn-info" role="button">Vote again?</a>
            </div>
        </div>
    </div>
{% endblock %}