{% load static %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	</head>
	<body>
		<nav>
			<h1 class="retroshd">DJANGO POLLS APP</h1>
			<ul>
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'registration:home' %}" class="btn btn-default" role="button">Home</a></li>
					<li><a href="{% url 'polls:index' %}" class="btn btn-default" role="button">Polls</a></li>
					<li><a href="{% url 'registration:logout' %}" class="btn btn-default" role="button">Log out</a></li>
				{% else %}
					<li><a href="{% url 'registration:home' %}" class="btn btn-default" role="button">Home</a></li>
					<li><a href="{% url 'registration:login' %}" class="btn btn-default" role="button">Log in</a></li>
					<li><a href="{% url 'registration:signup' %}" class="btn btn-default" role="button">Sign up</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class='col-lg-4 col-lg-offset-4'>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>