{% extends "registration/base.html" %}

{% block title %}Sign in{% endblock %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="welcome">
</div>
<div class="panel panel-default">
  {% if request.user.is_authenticated %}
    <div class="panel-heading"><h2 class="text-center">You Are Already Logged In</h2></div>
    <div class="panel-body">
      <h4 class="text-center"><a href="{% url 'polls:index' %}">SEE POLLS HERE</a></h4>
    </div>
  {% else %}
    <div class="panel-heading"><h2>Log in</h2></div>
    <div class="panel-body">
      <div class="form-group">
          <form method="post" class="form" layout="inline">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-info">
              Sign in
            </button>
            {% endbuttons %}
          </form>
        </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
