{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="welcome">
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h2>Sign up</h2></div>
	<div class="panel-body">
		<div class="form-group">
			<form method="post" class="form" layout="inline">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
				<button type="submit" class="btn btn-info">
					Sign up
				</button>
				{% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
